body {
    background-color: #F6EFE7;
}

p {
	font-size: 17px;
}

h1,
h3 {
    text-align: center;
}

h1 {
    font-family: lust, serif;
    font-weight: 700;
    font-style: normal;
    color: #175242;
    padding-top: 3%;
    font-size: 70px;
}

h3 {
    padding-bottom: 3%;
    font-size: 30px;
}

h3,
p {
    font-family: arboria, sans-serif;
    font-weight: 400;
    font-style: normal;
   }

h4 {
    font-family: arboria, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #C87E5D;
    font-size: 20px;
}

.social {
    color: #175242;
    text-decoration: underline solid;
    text-decoration-color: #E8CEBF;
    font-style: italic;
    size: 17px;
    padding: 2%;
    align-content: center;
}

a.active {
color: #175242;
}

/* my work */

/* resume */
h2 {
	 font-family: lust, serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

/* contact */

/* media queries */
