body {
    background-color: #F6EFE7;
}

img {
	padding-bottom: 3%;
}
.resume {
	font-size: 25px;
	text-align: left;
	padding: 0%;
	text-decoration: underline;
}

h1.work {
	font-size: 35px;
	text-align: left;
}

h3.work {
	font-size: 25px;
	text-align: left;
	padding: 0%;
}

p {
	font-size: 17px;
}

h1,
h3 {
    text-align: center;
}

h1 {
    font-family: lust, serif;
    font-weight: 700;
    font-style: normal;
    color: #175242;
    padding-top: 3%;
    font-size: 70px;
}

h3 {
    padding-bottom: 3%;
    font-size: 30px;
}

h3,
p,
ul {
    font-family: arboria, sans-serif;
    font-weight: 400;
    font-style: normal;
   }

h4 {
    font-family: arboria, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #C87E5D;
    font-size: 20px;
}

a {
	color: #C87E5D;
}
.social {
    color: #175242;
    text-decoration: underline solid;
    text-decoration-color: #E8CEBF;
    font-style: italic;
    padding: 2%;
    align-content: center;
}

a.active {
color: #175242;
}

/* my work */

/* resume */
h2 {
	 font-family: lust, serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    border: #175242;
    border-style: solid;
    padding: 2%;
}
/* contact */

/* media queries */
